@import '/public/bootstrap.min.css';

.bg-red {
  background: red;
}

.wrep {
  margin-top: 20px;
  

  .card-image {

    img {
      display: block;
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
  }
}



.card-header {
  font-weight: 500;
  font-size: 30px;
}

